#container {
    display: flex;
    flex-wrap: wrap;
    width: 406px;
    height: 405px;
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0;
    background-image: url("../images/FullBox.jpg");
    background-size: 100%;
    z-index: 1;

}

.inside {
    width: 133px;
    height: 133px;
    margin: 0;  
}

.markx {
    background-image: url("../images/IndividualSpuareX.png");
    background-size: 100%;
    width: 133px;
    height: 133px;
    margin: 0;  
}


.marko {
    background-image: url("../images/IndividualSpuareO.png");
    background-size: 100%;
    width: 133px;
    height: 133px;
    margin: 0;  

}

body {
    text-align: center;
    font-family: 'Aladin', cursive;
    background-image: url("../images/egypt.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    align-self: center;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #ffffff,  
                    1px -1px 0 #ffffff,
                    -1px 1px 0 #ffffff,
                    1px 1px 0 #ffffff;
}

button {
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 3px 5px 0px 5px;
    font-size: 15px;
    background-color: rgba(51, 161, 189);
}

button:hover {
    box-shadow: 12px 12px 40px 0 rgba(16, 148, 196),-12px 12px 40px 0 rgba(16, 148, 196),
    12px -12px 40px 0 rgba(16, 148, 196), -12px -12px 40px 0 rgba(16, 148, 196);
}

p {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #ffffff,  
                    1px -1px 0 #ffffff,
                    -1px 1px 0 #ffffff,
                    1px 1px 0 #ffffff;
}

p.right {
    float: right;
    margin-top: -60px;
    margin-right: 100px;
}

p.left {
    float: left; 
    margin-top: -60px;
    margin-left: 100px;

}

.playerx {
    display: inline-block;
    margin-left: 10px;
    padding-right: 6px;
    padding-left: 6px;
}

#startover {
    margin-top: 50px;
    font-size: 20px;
}

img {
    height: 200px;
}

#righttorch {
    float: right;
    margin-right: 130px;
    content: url(./images/FlameOn.gif)
}

#lefttorch {
    float: left;
    margin-left: 130px;
    content: url(./images/FlameOn.gif)  
}

#winnerIsX {
    margin-left: auto;
    margin-right: auto;
    border:red 5px solid;
    opacity: 0.7;
    width: 450px;
    z-index: 2;
    margin-top: -295px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: linen;
}

#winnerIsO {
    margin-left: auto;
    margin-right: auto;
    border:red 5px solid;
    opacity: 0.7;
    width: 450px;
    z-index: 2;
    margin-top: -295px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: linen;
}

#landing-page-link {
    position: absolute;
    right: 5px;
    top:5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 3px 6px 2px 6px;
    font-size: 20px;
    background-color: rgba(51, 161, 189);
    text-decoration: none;
}

#landing-page-link:visited{
    color: inherit;
}

#landing-page-link:hover{ 
    box-shadow: 12px 12px 40px 0 rgba(16, 148, 196),-12px 12px 40px 0 rgba(16, 148, 196),
12px -12px 40px 0 rgba(16, 148, 196), -12px -12px 40px 0 rgba(16, 148, 196);
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {

    #container {
        width: 306px;
        height: 305px;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .inside, .markx, .marko {
    width: 101px;
    height: 100px;
    }

    p.right {
        padding-right: 20px;
    }
    p.left{
        padding-left: 20px;
    }
    p.right, p.left {
        font-size: 25px;
        margin: 0;
        width: 180px;
    }

    #righttorch, #lefttorch, #choose {
        margin: 0;
    }
    #righttorch {
        margin-right: 50px;
    }
    #lefttorch{
        margin-left: 50px;
    }
    body {
        background-repeat: repeat;
    }
}

@media only screen and (max-width: 768px) {
    #container {
        width: 206px;
        height: 205px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .inside, .markx, .marko {
    width: 68px;
    height: 68px;
    }

    p.right, p.left {
        font-size: 20px;
        margin: 0;
        width: 60px;

    }

    #righttorch, #lefttorch, #choose {
        margin: 0;

    }
    #winnerIsO, #winnerIsX {
        margin-top: -200px;
        margin-bottom: 0px;
        width:200px;
    }

    img{
        height: 150px;
    }

    body {
        background-repeat: repeat;
    }

    button {
        color:black;
        background-color: rgb(34, 125, 148);
        border: none
    }
    #startover{
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    
    button:hover {
        box-shadow: none;
    }   

    h1 {
        font-size: 35px;
    }
}

